
mixin modal() 
	//  start modals
	div(id="modal-info"  style="display: none" )
		+b.modal-win
			+img('img/flag-0-lg.png')
			div
				.h2 Бизнес-миссия<br/>в Республику Узбекистан 
				p Программма бизнес-миссии ещё в разработке
				+e.btn.btn.btn-primary.btn_arrow(href='#') Хочу зарегистрироваться прямо сейчас!
	// #modal-call

	
	// end modals