mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 headerBlock ds dfsdfdsfsd
				p Lorem ipsum dolor sit amet.
				+icon('telegram')
				+iconC('telegram')
			.row
						
	// end headerBlock