mixin sPartners(data)
	// start sPartners
	+b.SECTION.sPartners.section#sPartners&attributes(attributes)
		.container
			+b.section-title
				h2 Партнёры
			+e.slider--js
				+arrow 
				.swiper
					.swiper-wrapper
						+e.slide.swiper-slide: +img('img/sPartners-logo-1.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-2.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-3.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-4.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-5.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-6.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-7.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-1.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-2.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-3.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-4.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-5.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-6.png')
						+e.slide.swiper-slide: +img('img/sPartners-logo-7.png')
	// end sPartners