mixin sChoise(data)
	// start sChoise
	+b.SECTION.sChoise.section#sChoise&attributes(attributes)
		.container
			+img("img/svg/zig-prime-big.svg").zig
			+e.item
				+img("img/svg/plane.svg").plane
				+img("img/svg/map.svg").map
				+b.section-title.text-center
					h2 Выбирай страну в которой хочешь развивать своё дело:
				+e.btns-wrapper
					+e.btn.btn.btn-primary.btn_arrow(href='#')
						+img("img/flag-0.png")
						| Бизнес-миссия в Республику Узбекистан
					+e.btn.btn.btn-primary.btn_arrow(href='#')
						+img("img/flag-1.png")
						| Бизнес-миссия в Киргизскую Республику
					+e.btn.btn.btn-primary.btn_arrow(href='#')
						+img("img/flag-2.png")
						| Бизнес-миссия в Республику Беларусь
					+e.btn.btn.btn-primary.btn_arrow(href='#')
						+img("img/flag-3.png")
						| Бизнес-миссия в Республику Таджикистан
					+e.btn.btn.btn-primary.btn_arrow(href='#')
						+img("img/flag-4.png")
						| Бизнес-миссия в Китайскую Народную Республику
				+e.btn-wrap.text-center: +e.btn.btn.btn-light.btn_arrow(href='#') Хочу зарегистрироваться прямо сейчас!
			a.wrap(href='#mission'): +icon('arrow-down')

	// end sChoise