.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
		// }

	}
	padding-top: rem(83);
  img {
    margin-left: rem(28);
    width: rem(329);
    max-width: 100%;
  }


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}


