mixin sMission(data)
	// start sMission
	+b.SECTION.sMission.section#sMission&attributes(attributes)
		+e.container.container
			+img('img/sMission-bg-1.png').bg-1
			+img('img/sMission-bg-2.png').bg-2
			+img('img/sMission-bg-3.png').bg-3
			+img('img/sMission-bg-4.png').bg-4
			+img('img/sMission-bg-5.png').bg-5
			+img('img/sMission-bg-6.png').bg-6
			+img('img/sMission-bg-7.png').bg-7
			+img('img/sMission-bg-8.png').bg-8
			+img('img/sMission-bg-9.png').bg-9
			mixin item( i, img, lgImg, title, ...text)
				+e.row
					.row
						.col-xl
							+e.content(id=`mission-${i}`)
								h3
									+img(`img/${img}`)
									!= title
								-for (var i = 0; i < text.length; i++)
									p!= text[i]
								+e.btn.btn.btn-primary.btn_arrow(href='#') #[span Программа бизнес-миссии]
						+e.col.col-xl-auto.ms-auto
							+e.img-wrap: .img-wrap-center: +img(`img/${lgImg}`, 'bg')
			+item('1','flag-0-lg.png', 'sMission-img-1.jpg', 'Бизнес-миссия<br/>в Республику Узбекистан', 'Открой для себя уникальные возможности бизнеса в сердце Центральной Азии с бизнес-миссией в Республику Узбекистан. Это твой шанс установить ценные контакты, исследовать новые рынки и начать успешное сотрудничество в стране, которая является мостом между Европой и Азией.', 'Это не просто поездка, это инвестиция в будущее твоего бизнеса. Забронируй своё место сегодня и начни свой путь к международному рынку!')
			+item('2','flag-1-lg.png', 'sMission-img-2.jpg', 'Бизнес-миссия<br/>в Киргизскую Республику', 'Присоединяйся к бизнес-миссии в Киргизскую Республику и открой для себя мир новых возможностей! Эта миссия предоставит тебе уникальный шанс расширить твой бизнес, установить ценные деловые связи и исследовать потенциал одного из самых перспективных рынков Центральной Азии.', 'Не упусти шанс стать частью уникального путешествия, которое может стать ключом к успеху бизнеса на международной арене')
			+item('3','flag-2-lg.png', 'sMission-img-3.jpg', 'Бизнес-миссия<br/>в Республику Беларусь', 'Открой для себя бизнес-потенциал Республики Беларусь! Это твоя возможность наладить ценные контакты, исследовать новые рынки и расширить границы своего дела, а также исследовать возможности для экспорта и импорта в рамках Евразийского экономического союза..')
			+item('4','flag-3-lg.png', 'sMission-img-4.jpg', 'Бизнес-миссия<br/>в Республику Таджикистан', 'Присоединяйся к уникальной бизнес-миссии в Республику Таджикистан и открой для себя мир новых возможностей! Это твоя возможность расширить бизнес-горизонты, наладить партнерские связи и войти в динамично развивающийся рынок Центральной Азии.')
			+item('5','flag-3-lg.png', 'sMission-img-5.jpg', 'Бизнес-миссия в Китайскую Народную Республику', 'Присоединяйся к бизнес-миссии в Китайскую Народную Республику и открой для себя новые горизонты бизнеса! Это уникальная возможность для предпринимателей и компаний, стремящихся расширить своё присутствие на одном из самых динамичных рынков мира.', 'Не упусти возможность расширить свой бизнес и вывести его на международный уровень. Присоединяйся к бизнес-миссии и стань частью глобального экономического сообщества')
	// end sMission